<table class="table">
	<thead>
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Awarded</th>
			<th scope="col"><span class="{{render '@visuallyhidden'}}">Actions</span></th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<th scope="row" class="{{render '@l-wordwrap'}}">
				81.r80PEKPZDH0oabtGPqQ1PCHnvjsMkwglh5rPaJEU%3Acanvas-lms@noemail.badgr
			</th>
			<td><time>September 14, 2017</time></td>
			<td class="table-x-minwidthtablet-400">
				<div class="{{render '@l-childrenhorizontal'}} l-childrenhorizontal-right l-childrenhorizontal-stackmobile-flexalign-end">
					<a class="button button-primaryghost" target="_blank">View</a>
					<a class="button button-primaryghost" target="_blank">Share</a>
					<button type="button" class="button button-primaryghost">Revoke</button>
					<button type="button" class="button button-primaryghost">Print</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>