.l-authbuttons {
  display: flex;
  flex-wrap: wrap;

  > * {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: $gridspacing * 2;

    &:nth-child(odd) {
      padding-right: $gridspacing;
    }

    &:nth-child(even) {
      padding-left: $gridspacing;
    }

    
    

  }

}
