<nav class="pagination{{#if modifier}} {{modifier}}{{/if}}">
    <h3 class="visuallyhidden">Pagination</h3>
    <div class="pagination-x-pages">
        <a class="page pagination-x-previous page-is-disabled" href="#" disabled>Previous</a>
        <a class="page page-is-active" href="#">1</a>
        <a class="page" href="#">2</a>
        <a class="page" href="#">3</a>
        <a class="page" href="#">4</a>
        <a class="page" href="#">5</a>
        <a class="page" href="#">6</a>
        <a class="page" href="#">7</a>
        <a class="page" href="#">8</a>
        <a class="page" href="#">9</a>
        <p class="page page-hellip">&hellip;</p>
        <a class="page" href="#">200</a>
        <a class="page" href="#">Next</a>
    </div>
</nav>