<div class="tooltip tooltip-is-active">
	<span class="tooltip-x-arrow"></span>
	<div class="tooltip-x-content">
		<button type="button">Close</button>
		<header>
			<h1>Completion Badges</h1>
			<h2>Tool Tip</h2>
		</header>
		<p>Badgr can report on users' completion of learning pathways based on the badges they've earned and other elements completed.</p>
		<footer>
			{{> "@progress"}}
			<div>
				<button type="button" class="button">Next</button>
			</div>
		</footer>
	</div>
</div>