<label class="select{{#if select.classList?}} {{select.classList?}}{{/if}}">
	<span>Sort by</span>
	<select>
		<option value="name">Badge Name</option>
		<option value="newest-first">Newest First</option>
		<option value="oldest-first">Oldest First</option>
	</select>
</label>