.*.sw*
.DS_Store
node_modules/
typings/
test-report/
dist/
src/**/*.js
src/**/*.js.map
!src/**/*.config.js
!src/embed/widgets.js
!src/config.js
npm-debug.log
.sass-cache/
.idea/
.chrome_karma
compiled-src
code/
temp/

!src/breakdown/static/js/*.js

src/config.js
.angulardoc.json
.vscode/
