<div class="{{render '@l-cardembedded'}}">
  <div class="{{render '@card'}}">
      <a class="card-x-main" href="#">
          <p class="card-x-label">New</p>
          <div class="card-x-image">
          </div>
          <div class="card-x-text">
              <h1>DCA Training</h1>
              <small>Pacific Science Center</small>
              <p>This badge is awarded to students who have completed the Discovery Corps</p>
          </div>
      </a>
      <div class="card-x-actions">
          <time datetime="2016-05-11">May 11, 2016</time>
      </div>
  </div>
</div>