.formsectionremove {
  background: url('#{$base-path}images/formsectionremove.svg') center center no-repeat;
  color: transparent;
  height: 16px;
  overflow: hidden;
  user-select: none;
  width: 16px;
}
