<div class="detail">
	<article>
		<h1>Website</h1>
		<p><a href="http://www.w3.org">www.w3.org</a></p>
	</article>
	<article>
		<h1>Contact Email</h1>
		<p><a href="mailto:azimalonglastname@wc3.com">azimalonglastname@wc3.com</a></p>
	</article>
</div>
