<article class="article">
	<h1>Heading 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam augue nisi, blandit sed ante ut, tincidunt ultrices elit. Praesent ullamcorper consectetur elit, a tincidunt dui hendrerit non. Morbi tempus arcu sit amet turpis tempor, ut bibendum ex pulvinar. Donec rutrum egestas eros eu cursus. Nullam ut iaculis est. Etiam egestas nulla eu elit pulvinar faucibus. Maecenas mattis purus massa, in faucibus neque tristique at. Quisque quis sapien in risus blandit ultrices. Nullam vel diam libero.</p>
	<img src="http://placehold.it/680x340" alt="Example image">
	{{render '@table--fakedexample'}}
</article>
