<div class="{{#if xSelector}}{{xSelector}} {{/if}}authlink">
  <!-- NOTE: Alt tags should describe the image, for example "Badgr Logo" -->
  <div><img src="http://placehold.it/110x72" alt="" height="72"></div>
  <div><img src="http://placehold.it/68x72" alt=""></div>
</div>