<div class="loadingerror">
	<p>Message</p>
	<button class="icon icon-close-light icon-right" type="button" onclick="event.target.parentNode.classList.remove('formmessage-is-active')">Dismiss</button>
</div>
