<article class="emptyillustration">
	<h1>You have no badges</h1>
	<div>
		sample text: Collect and share digital badges you've earned from Badgr or any Open Badges issuer.
		<a href="openbadges.org" target="_blank">Learn more</a> about Open Badges
	</div>
	<img src="http://placehold.it/736x314" alt="Illustration description">
</article>
