.checklist {
  display: none;

  + label {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $color-dark4 inset;
    color: transparent;
    content: '';
    display: block;
    flex: 0 0 auto;
    height: 16px;
    overflow: hidden;
    transition: background-color $transition-duration $transition-easing,
                box-shadow $transition-duration $transition-easing;
    width: 16px;
  }

  &:checked {

    + label {
      background: url('#{$base-path}images/checklist.svg') center center no-repeat $color-secondary;
      box-shadow: 0 0 0 0 $color-secondary;
    }

  }

}

.checklist-radio {

  + label {
    border-radius: 22px;
  }

  &:checked {

    + label {
      background-image: url('#{$base-path}images/checklist-radio.svg');
    }

  }

}
