<input class="checklist{{#if checklist.classList}} {{checklist.classList?}}{{/if}}" type="checkbox" id="checklist{{#if checklist.classList}}{{checklist.classList?}}{{/if}}">
<label for="checklist{{#if checklist.classList}}{{checklist.classList?}}{{/if}}">
	<span class="checklist-x-badge">
    {{render "@badge--default"}}
  </span>
	<span class="checklist-x-title">
    <span>Discovery Corps Skill Tree</span>
    <span>Discovery Corps is a youth development program that puts young people on the front line of Pacific Science Center’s mission to inspire a lifelong interest…</span>
  </span>
	<span class="checklist-x-meta">Band members</span>
</label>
