<div class="footer">
	<ul>
		<li>Copyright &copy; 2016 <a href="http://concentricsky.com" target="_blank">Concentric Sky, Inc.</a></li>
		<li>Powered by <a href="" target="_blank">Badgr</a></li>
	</ul>
	<a href="" target="_blank">API documentation</a>
</div>