<div class="stack{{#if stack.classList?}} {{stack.classList?}}{{/if}}">
	<div class="stack-x-image">
		<img src="http://placehold.it/40x40" alt="">
	</div>
	<div class="stack-x-new">New</div>
	<div class="stack-x-text">
		<h2>Issuer Name</h2>
		<small>52 Badges</small>
	</div>
</div>