.formdivider {
  align-items: center;
  color: $color-dark3;
  display: flex;
  flex-wrap: nowrap;
  font-size: $font-size-small1;
  font-weight: bold;
  justify-content: center;
  margin: $gridspacing * 3 0;
  text-transform: uppercase;

  &::before,
  &::after {
    background: $color-dark4;
    content: '';
    flex-grow: 1;
    height: 1px;
  }

  > * {
    margin: 0 $gridspacing;
  }

}
