<div class="formmessage{{#if formmessage.classList?}} {{formmessage.classList?}}{{/if}}{{#if formmessage.state?}} {{formmessage.state?}}{{/if}}">
	<p>Message</p>
	<button class="icon icon-close-light icon-right" type="button" onclick="event.target.parentNode.classList.remove('formmessage-is-active')">Dismiss</button>
</div>
