
<article class="integration">
	<h1>Integrating Badgr into Canvas</h1>
	<ol>
		<li>Make sure your Badgr account has the <a href="">email address confirmed</a> that you log into Canvas with.</li>
		<li>In Canvas: <strong>a)</strong> Go to Settings, <strong>b)</strong> select Apps, and <strong>c)</strong> click the Add App button.
			<ol>
				<li>
					{{render "@integrationthumb" partialData.instance1 merge=true}}
				</li>
				<li>
					{{render "@integrationthumb" partialData.instance2 merge=true}}
				</li>
				<li>
					{{render "@integrationthumb" partialData.instance3 merge=true}}
				</li>
			</ol>
		</li>
		<li>Select the Add URL method, and fill out the form using the Consumer Key, Shared Secret and Confif URL, shown below.
			<ol>
				<li>
					<a class="integrationthumb" href="#integration-1-3" data-index="2">
						<span><span> (Open Thumnail)</span></span>
						<img srcset="http://placehold.it/396x288 2x" src="http://placehold.it/198x154" alt="thumbnail description">
					</a>
				</li>
			</ol>
		</li>
	</ol>
</article>
