<button class="tab{{#if modifier}} {{modifier}}{{/if}}" type="button" {{#disabled}}disabled{{/disabled}}>
  <span class="{{render '@visuallyhidden'}}">Open </span>{{text}}<span class="{{render '@visuallyhidden'}}"> tab</span>
</button>