<article class="issuer">
	<header class="heading heading-small">
		<div class="heading-x-image">
			<img srcset="http://placehold.it/800x800 2x" src="http://placehold.it/400x400" alt="Web Design and Programming logo">
		</div>
		<div class="heading-x-text">
			<h1>Web Design and Programming</h1>
			<p>World Wide Web Consortium</p>
		</div>
		<div class="heading-x-actions">
			<a href="" class="button button-tertiaryghost">View Issuer</a>
		</div>
	</header>
	<section>
		<h1>Most Recently Issued Badges <strong>22 Badges Total</strong></h1>
		<div class="issuer-x-badges">
			<article>
				<div>
					<img srcset="http://placehold.it/160x160 2x" src="http://placehold.it/80x80" alt="Badge description">
				</div>
				<div>
					<h1><a href="">HTML/CSS</a></h1>
					<p><strong>5 Earners</strong></p>
					<p>Fundamentals of HTML and Building a website.</p>
				</div>
			</article>
			<article>
				<div>
					<img srcset="http://placehold.it/160x160 2x" src="http://placehold.it/80x80" alt="Badge description">
				</div>
				<div>
					<h1><a href="">HTML/CSS</a></h1>
					<p><strong>5 Earners</strong></p>
					<p>Fundamentals of HTML and Building a website.</p>
				</div>
			</article>
			<article>
				<div>
					<img srcset="http://placehold.it/160x160 2x" src="http://placehold.it/80x80" alt="Badge description">
				</div>
				<div>
					<h1><a href="">HTML/CSS</a></h1>
					<p><strong>5 Earners</strong></p>
					<p>Fundamentals of HTML and Building a website.</p>
				</div>
			</article>
		</div>
	</section>
</article>