<header class="header {{render '@l-containerhorizontal'}}">
	<a href="#">
		<picture>
			<source media="(min-width: 640px)" srcset="http://placehold.it/122x49">
			<img src="http://placehold.it/45/49" alt="Badgr logo">
		</picture>
	</a>
	<a class="header-x-menu" href="#navigation">Main Navigation</a>
</header>
