.l-marginTop {
  margin-top: $gridspacing;
}

.l-marginTop-2x {
  margin-top: $gridspacing * 2;
}

.l-marginTop-3x {
  margin-top: $gridspacing * 3;
}

.l-marginTop-4x {
  margin-top: $gridspacing * 4;
}

.l-marginTop-5x {
  margin-top: $gridspacing * 5;
}