<div class="l-formimageupload">
  {{render '@formfield--inlinelabel' formFieldBadgeContext merge=true}}
  <div class="l-formimageupload-x-inputs">
    {{render '@formfield' formFieldNameContext merge=true}}
    {{render '@formfield' formFieldDescriptionContext merge=true}}
  </div>
</div>