<a class="integrationthumb" href="#integration-1-1" data-index="0">
	<span>{{#if integrationthumb.primaryText?}}{{integrationthumb.primaryText?}}{{/if}}<span> {{#if integrationthumb.secondaryText?}}{{integrationthumb.secondaryText?}}{{/if}}</span></span>
	<img srcset="http://placehold.it/396x288 2x" src="http://placehold.it/198x154" alt="thumbnail description">
</a>