<div class="progress">
	<h3>Step 1 <span class="{{> @visuallyhidden}}">(Current)</span></h3>
	<ul>
		<li class="progress-x-complete">Step 1 (Complete)</li>
		<li>Step 2</li>
		<li>Step 3</li>
	</ul>
</div>