<a class="connectedbadge{{#if connectedbadge.classList?}} {{connectedbadge.classList?}}{{/if}}" href="">
	{{render "@badge--default"}}
	<div>
		<h1>Touch a Brain</h1>
		<p>This badge is awarded to students who have demonstrated their ability to handle the sheep brain, allowing visitors to touch it using plastic bags while asking them to compare its size, shape, and color to a model of the human brain.	</p>
	</div>
</a>