$color-primary: #c30a28;
$color-primary-light: #f7e1e5;
$color-secondary: #05012c;
$color-tertiary: #ffb500;
$color-quaternary: #93ab23;
$color-quaternary-light: #d8e59d;
$color-light1: #fff;
$color-light2: #fcfcfc;
$color-light3: #f7f7f7;
$color-light4: #efefef;
$color-dark1: #252247;
$color-dark2: #6c6b80;
$color-dark3: #a09eaf;
$color-dark4: #e1e0e5;
$color-dark5: #000;

$color-badgeButton-light: #f5dfe3;

$states: (
  error: #f01f31,
  pending: $color-tertiary,
  success: $color-quaternary
);

// Layout
// Shared between various modules

$gridspacing: 8px;

$headerheight: 78px;

$menumorewidth: 29px;

$maxheight-dialog: calc(100vh - #{$gridspacing * 6});

// Breakpoints

$media-desktop-large: 1440px;
$media-desktop: 1024px;
$media-tablet: 768px;
$media-mobile: 320px;

$z-index-low: 1;
$z-index-med: 2;
$z-index-high: 3;
$z-index-highest: 5;

// Borders

$border: 1px solid $color-dark4;
$border-radius: 4px;

$box-shadow: 0 1px $gridspacing / 2 0 rgba($color-dark1, .3);
$box-shadow-secondary: 0 0 $gridspacing * 2 0 rgba($color-dark1, .18), 0  $gridspacing 0 rgba($color-dark1, .24);

// Fonts & Typography

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('#{$base-path}fonts/opensans-bold-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: url('#{$base-path}fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('#{$base-path}fonts/opensans-italic-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$base-path}fonts/opensans-light-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'open_sanslight_italic';
  font-style: italic;
  font-weight: 300;
  src: url('#{$base-path}fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-lightitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('#{$base-path}fonts/opensans-regular-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('#{$base-path}fonts/opensans-semibold-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('#{$base-path}fonts/opensans-semibolditalic-webfont.woff2') format('woff2'), url('#{$base-path}fonts/opensans-semibolditalic-webfont.woff') format('woff');
}

$font-family: 'Open Sans', sans-serif;

$font-size-small2: 12px;
$font-size-small1: 14px;
$font-size: 16px;
$font-size-large1: 18px;
$font-size-large2: 24px;
$font-size-large3: 42px;

$line-height-small1: 14px;
$line-height: 16px;
$line-height-large1: 20px;
$line-height-large2: 24px;
$line-height-large3: 32px;
$line-height-large4: 64px;

// Transitions

$transition-duration: 250ms;
$transition-easing: ease-out;


// Mixins

// Container
// Shared with .header and .l-containerhorizontal
@mixin container {

  @media (min-width: $media-desktop + $gridspacing * 8) {
    padding-left: calc(50vw - #{$media-desktop / 2});
    padding-right: calc(50vw - #{$media-desktop / 2});
  }

}

// Dropdown
// TODO Why are there two?
@mixin dropdown {
  background: $color-light3;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@mixin dropdown {
  background-color: $color-light1;
  border-radius: $border-radius;
  box-shadow: 0 4px 5px 0 rgba($color-secondary, .12), 0 0 4px 0 rgba($color-secondary, .12);
  position: absolute;
  top: calc(100% + #{$gridspacing * 2});
  width: 160px;

  &::before {
    background-color: $color-light1;
    box-shadow: .5px .5px 1px 0 $color-dark4; // Best guess
    content: '';
    height: $gridspacing * 2;
    position: absolute;
    right: $gridspacing * 2;
    top: -$gridspacing;
    transform: rotate(-135deg);
    width: $gridspacing * 2;
    z-index: $z-index-low;
  }
}

// New Label
@mixin newlabel {
  background-color: map-get($states, pending);
  border-radius: $border-radius;
  color: $color-light1;
  font-size: $font-size-small2;
  font-weight: bold;
  line-height: 1;
  padding: 5px 10px;
  text-transform: uppercase;
}

// FormField Label
@mixin label-formfield {
  align-items: center;
  color: $color-dark2;
  display: flex;
  font-size: $font-size-small2;
  font-weight: bold;
  justify-content: space-between;
  letter-spacing: .5px;
  margin-bottom: $gridspacing;
  text-shadow: 1px 1px 1px rgba($color-light1, .5);
  text-transform: uppercase;
}


// Pesudo Base
// Common for ::before and ::after
@mixin pseudobase {
  content: '';
  display: block;
}

// Spinner
@mixin spinner {
  @include pseudobase;
  animation: rotate .75s linear infinite forwards;
  border: 1px solid $color-quaternary;
  border-radius: 50%;
  border-right-color: transparent;
  box-sizing: border-box;
}

// Wrap
@mixin wrap {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
}

// Keyframes

// Rotate
@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }

}

// Fade
@keyframes fade {

  0% {
    opacity: .4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }

}

@keyframes fadein {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
