<!doctype html>
<html lang="en">

  <head>
    {{render '@preview--head'}}
  </head>

  <body style="background-color: grey">

    <div>
      {{{ yield }}}
    </div>

    {{render '@preview--scripts'}}

  </body>

</html>