<!doctype html>
<html lang="en">

    <head>
      {{render '@preview--head'}}
    </head>

    <body>

      <div>
          {{{ yield }}}
      </div>

      {{render '@preview--scripts'}}

    </body>

</html>