.card {
  align-items: stretch;
  background-color: $color-light1;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small2;
  justify-content: space-between;
  min-height: 128px;
  position: relative;
  transition: box-shadow $transition-duration $transition-easing;
  word-break: media-word;

  .card-x-label {
    @include newlabel;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    bottom: $gridspacing * 7;
    left: 0;
    position: absolute;
    z-index: $z-index-med;
  }

  .card-x-main {
    color: $color-dark1;
    display: flex;
    flex: 1 0 auto;
    overflow-wrap: break-word;
    padding: $gridspacing * 2;

    h1,
    small {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h1 {
      color: $color-primary;
      font-size: $font-size;
      overflow: hidden; // Required to prevent overflow in Firefox, IE, and Edge
      text-overflow: ellipsis; // Required to prevent overflow in Firefox, IE, and Edge
    }

    small {
      color: $color-dark2;
      display: block;
    }

    p,
    ul,
    ol {
      margin-top: $gridspacing;
    }

    &:hover {
      text-decoration: none;
    }

  }

  .card-x-image {
    flex: 0 0 40px;
    margin-right: $gridspacing * 2;
    width: 40px;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

  }

  .card-x-text {
    flex: 1 1 100%;
    line-height: 1.5;
    min-width: 0; // Required to prevent overflow text with non-breaking strings in Firefox, IE, and Edge. Additional styling for the h1 element assists with this

    p {
      white-space: pre-wrap;
    }

    ul:not(.statlist) {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -$gridspacing;

      li {
        margin-bottom: $gridspacing;
        width: 16.666666667%;
      }

    }

  }

  .card-x-more {
    align-items: center;
    background-color: $color-dark4;
    border-radius: 100%;
    color: $color-dark2;
    display: flex;
    flex-direction: column;
    font-size: $font-size-small2;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    line-height: 1;
    text-align: center;
    width: 40px;

    span {
      display: block;
      font-size: 8px;
      text-transform: uppercase;
    }

  }

  .card-x-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $gridspacing * 2;

    time,
    small {
      color: $color-dark2;
    }

  }

  .card-x-add {
    align-items: center;
    box-sizing: border-box;
    color: $color-primary;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-size: $font-size-small1;
    font-weight: bold;
    justify-content: center;
    line-height: 1.3;
    padding: $gridspacing * 2;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    &::before {
      background: url('#{$base-path}images/card-placeholder.svg') no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 46px;
      margin-bottom: $gridspacing * 2;
      width: 46px;
    }

  }

  &:hover {
    box-shadow: 0 4px 4px 0 $color-dark4, 0 0 2px 0 $color-dark4;
  }

}

.card-placeholder {
  border-style: dashed;

  &:hover {
    border-style: solid;
  }

}

.card-largeimage {

  .card-x-image {
    flex-basis: 80px;
    width: 80px;
  }

}

// Used on pathway detail to align a single action to the right of the card

.card-actionsright {

  .card-x-actions {
    justify-content: flex-end;
  }

}

.card-large {
  padding: $gridspacing * 2 $gridspacing * 2 $gridspacing * 3;

  .card-x-main {
    padding: 0;

    ul {
      margin-top: $gridspacing * 2;
    }

  }

  .card-x-image {
    width: 40px;
  }

  .card-x-actions {
    display: none;
    padding: 0;
  }

  @media (min-width: $media-tablet) {
    padding: $gridspacing * 3 $gridspacing * 3 $gridspacing * 4;

    .card-x-main {

      h1 {
        color: $color-primary;
        font-size: $font-size-large2;
      }

      p {
        font-size: $font-size-small1;
        margin-top: $gridspacing * 2;
      }

      ol,
      ul {
        margin-top: $gridspacing * 3;
      }

    }

    .card-x-image {
      margin-right: $gridspacing * 3;
      width: 80px;
    }

    .card-x-text {
      flex-basis: 432px;
      flex-grow: 0;
    }

  }

  @media (min-width: $media-desktop) {
    flex-direction: row;

    .card-x-main {
      flex-shrink: 1;
    }

    .card-x-actions {
      align-self: flex-end;
      display: block;
      flex: 0 0 312px;

      > div:not(:last-child) {
        margin-bottom: $gridspacing;
      }

      > h2 {
        margin-bottom: $gridspacing * 2;
      }

    }

  }

}

.card-action {
  min-height: auto;

  .card-x-main {
    align-items: center;
    cursor: pointer;
    padding-bottom: $gridspacing * 1.5;
    padding-top: $gridspacing * 1.5;
  }

}

.card-pathway {
  border-radius: 0;

  .card-x-text {
    flex: 1 0 52%;
  }

  .card-x-aside {
    align-items: stretch;
    display: flex;
    flex: 1 1 36%;
    flex-direction: column;
  }

}
