<div class="card {{#if card.classList?}}{{card.classList?}}{{/if}}">
	<a class="card-x-main" href="">
    <span class="card-x-text">
      <h1>DCA Training</h1>
      <small>Pacific Science Center</small>
      <ul>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <div class="badge badge-flat">
            <img src="http://placehold.it/40x40">
          </div>
        </li>
        <li>
          <span class="card-x-more">12<span> More</span></span>
        </li>
      </ul>
    </span>
	</a>
	<div class="card-x-actions">
		{{render "@switch--bold"}}
		{{render "@button--secondaryghost" partialData merge=true}}
	</div>
</div>