<form action="" class="forminline">
	<div class="formfield">
		<label for="id" class="visuallyhidden">Email</label>
		<input type="text" name="name" id="id">
	</div>
	<button type="submit" class="button">Add Email</button>
</form>