<input class="switch{{#if switch.classList?}} {{switch.classList?}}{{/if}}" type="checkbox" id="switch{{#if switch.classList?}}{{switch.classList?}}{{/if}}" name="switch{{#if switch.classList?}}{{switch.classList?}}{{/if}}" value="private">
<label for="switch{{#if switch.classList?}}{{switch.classList?}}{{/if}}">
		<span class="switch-x-text">Your collection is </span>
		<span class="switch-x-toggletext">
		<span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Private</span>
		<span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>Public</span>
		</span>
	</label>