<ul class="statlist">
	<li class="statlist-x-badge"><strong>25</strong> Badges</li>
	<li class="statlist-x-earner"><strong>25</strong> Earners</li>
	<li class="statlist-x-group"><strong>25</strong> Groups</li>
	<li class="statlist-x-pathway"><strong>25</strong> Pathways</li>
</ul>
