<article class="importHeading">
	<h1 class=title>Instructions</h1>
	<p>
		You may import new or existing members to your group. Your file must meet the following requirements:
	</p>
	<ul>
		<li>Contains name and email address</li>
		<li>CSV or TXT format only.</li>
	</ul>
	<p>Use this <a href>Sample Template</a> to create a CSV or TXT file for importing members.</p>
</article>
