<div class="radiobuttons">
	<input type="radio" name="radiobutton" id="radiobutton1" value="grid" checked="checked">
	<label class="radiobuttons-x-grid" for="radiobutton1">Grid</label>
	<input type="radio" name="radiobutton" id="radiobutton2" value="list">
	<label class="radiobuttons-x-list" for="radiobutton2">List</label>
</div>
