<div class="l-dropzoneinput">
  <div class="l-dropzoneinput-x-container">
    <input class="{{render '@visuallyhidden'}}" type="file" name="dropzone" id="dropzone">
    {{render '@dropzone--alt1' dropZoneContext merge=true}}
    {{render '@button--tertiary' buttonContext merge=true}}
  </div>
</div>