.l-marginBottom {
  margin-bottom: $gridspacing;
}

.l-marginBottom-1andhalfx {
  margin-bottom: $gridspacing * 1.5;
}

.l-marginBottom-2x {
  margin-bottom: $gridspacing * 2;
}

.l-marginBottom-3x {
  margin-bottom: $gridspacing * 3;
}

.l-marginBottom-4x {
  margin-bottom: $gridspacing * 4;
}

.l-marginBottom-5x {
  margin-bottom: $gridspacing * 4;
}
